# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.{rs,py}]
indent_size = 4

# Matches multiple files with brace expansion notation
# Set default charset
[*.{dart,js,jsx,cjs,mjs,ts,tsx,rs,kts,h,m,mm,c,cpp,cc,swift,py,sh,cmd,css,scss,less,html,md,yaml,toml,json,xml,txt}]
charset = utf-8
